      <div class="editor-toolbar">
        <button class="tool-btn active" id="textMode" type="button" title="Write LaTeX">T</button>
        <button class="tool-btn" id="compileMode" type="button" title="Compile">
          <svg viewBox="0 0 24 24"><path d="M8 5v14l11-7Z"/></svg>
        </button>
        <button class="tool-btn" id="terminalMode" type="button" title="Compiler Logs">
          <svg viewBox="0 0 24 24"><path d="m8 8 4 4-4 4"/><path d="M13 17h5"/><rect x="3" y="4" width="18" height="16" rx="3"/></svg>
        </button>
        <div class="zoom-wrap">
          <button class="zoom" id="zoomButton" type="button" aria-haspopup="true" aria-expanded="false">
            <span id="zoomLabel">100%</span><span class="zoom-caret" aria-hidden="true"></span>
          </button>
          <div class="zoom-menu" id="zoomMenu">
            <button class="zoom-option" type="button" data-zoom="75">75%</button>
            <button class="zoom-option active" type="button" data-zoom="100">100%</button>
            <button class="zoom-option" type="button" data-zoom="125">125%</button>
            <button class="zoom-option" type="button" data-zoom="150">150%</button>
          </div>
        </div>
        <span class="toolbar-spacer"></span>
        <button class="rail-btn" id="railChat" type="button" title="Open Chat Box">
          <svg viewBox="0 0 24 24" aria-hidden="true">
            <g class="wand-sparkles">
              <path d="M6.2 2.8 7.5 6l3.2 1.3-3.2 1.3-1.3 3.2-1.3-3.2-3.2-1.3L4.9 6l1.3-3.2Z"/>
              <path d="M19.1 1.8 20 4.1l2.3.9-2.3.9-.9 2.3-.9-2.3-2.3-.9 2.3-.9.9-2.3Z"/>
              <path d="M18.1 14.2 19.3 17l2.8 1.2-2.8 1.2-1.2 2.8-1.2-2.8-2.8-1.2 2.8-1.2 1.2-2.8Z"/>
            </g>
            <path class="wand-stick" d="M4.8 19.2 15.4 8.6"/>
            <path class="wand-stick" d="M7.3 21.7 17.9 11.1"/>
            <path class="wand-stick" d="M4.8 19.2a1.8 1.8 0 0 0 2.5 2.5"/>
            <path class="wand-stick" d="M15.4 8.6a1.8 1.8 0 0 1 2.5 2.5"/>
          </svg>
        </button>
        <button class="rail-btn" id="railHistory" type="button" title="Open Chat History">
          <svg viewBox="0 0 24 24" aria-hidden="true">
            <path d="M3 12a9 9 0 1 0 3-6.7"/>
            <path d="M3 4v5h5"/>
            <path d="M12 7v5l3 2"/>
          </svg>
        </button>
      </div>
