      <div class="editor-toolbar">
        <span class="toolbar-spacer"></span>
        <button class="top-tool-btn" id="undoButton" type="button" title="Undo">
          <img src="assets/icons/fi-rr-undo-alt.svg" alt="">
        </button>
        <button class="top-tool-btn" id="redoButton" type="button" title="Redo">
          <img src="assets/icons/fi-rr-redo-alt.svg" alt="">
        </button>
        <button class="top-tool-btn" id="compileMode" type="button" title="Compile">
          <img src="assets/icons/compile.svg" alt="">
        </button>
        <button class="top-tool-btn" id="terminalMode" type="button" title="Compiler Logs">
          <img src="assets/icons/Terminal.svg" alt="">
        </button>
        <div class="zoom-wrap">
          <button class="zoom" id="zoomButton" type="button" aria-haspopup="true" aria-expanded="false">
            <span id="zoomLabel">100%</span><img class="zoom-caret" src="assets/icons/fi-rr-caret-down.svg" alt="" aria-hidden="true">
          </button>
          <div class="zoom-menu" id="zoomMenu">
            <button class="zoom-option" type="button" data-zoom="75">75%</button>
            <button class="zoom-option active" type="button" data-zoom="100">100%</button>
            <button class="zoom-option" type="button" data-zoom="125">125%</button>
            <button class="zoom-option" type="button" data-zoom="150">150%</button>
          </div>
        </div>
      </div>
