      <div class="editor-toolbar">
        <button class="tool-btn active" id="textMode" type="button" title="Write LaTeX">
          <img src="assets/icons/fi-rr-text.svg" alt="">
        </button>
        <button class="tool-btn" id="compileMode" type="button" title="Compile">
          <img src="assets/icons/compile.svg" alt="">
        </button>
        <button class="tool-btn" id="terminalMode" type="button" title="Compiler Logs">
          <img src="assets/icons/Terminal.svg" alt="">
        </button>
        <div class="zoom-wrap">
          <button class="zoom" id="zoomButton" type="button" aria-haspopup="true" aria-expanded="false">
            <span id="zoomLabel">100%</span><img class="zoom-caret" src="assets/icons/fi-rr-caret-down.svg" alt="" aria-hidden="true">
          </button>
          <div class="zoom-menu" id="zoomMenu">
            <button class="zoom-option" type="button" data-zoom="75">75%</button>
            <button class="zoom-option active" type="button" data-zoom="100">100%</button>
            <button class="zoom-option" type="button" data-zoom="125">125%</button>
            <button class="zoom-option" type="button" data-zoom="150">150%</button>
          </div>
        </div>
        <span class="toolbar-spacer"></span>
        <button class="rail-btn" id="railChat" type="button" title="Open Chat Box">
          <img src="assets/icons/chatbox-button.svg" alt="">
        </button>
        <button class="rail-btn" id="railHistory" type="button" title="Open Chat History">
          <img src="assets/icons/fi-rr-time-past.svg" alt="">
        </button>
      </div>
